@font-face {
  font-family: "glimer";
  src: url(../multimedia/Gilmer-Font/Gilmer\ Regular.otf);
}
html {
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: "glimer";
}

/* -----------------------HEADER-------------- */
/* Fondo + logo tipografia -banner */
header {
  background-image: url(../multimedia/FONDO\ NEGRO\ copia.png);
  background-color: black;
  background-size: 100%;
  background-position: 100%;
  /* colocar aca el position sticky top 0 */
  position: sticky;
  top: 0px;
  z-index: 10;
  /* Menu nav */
}
header img {
  width: 250px;
}
header .logoPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
header .menuTitulo a {
  text-decoration: none;
  font-size: 2rem;
}
header .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  top: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: #BAEE2E;
  list-style-type: none;
}

body {
  background-color: black;
  font-family: "glimer";
}

main {
  color: #BAEE2E;
  font-size: 1.5rem;
  /* index html */
  /*dejo estos dos important debido a que no pude solucionar el problema del carrousel de BS y cuando los saco se me desacomoda y agrandan las imagenes al ir pasandolas en el correusel*/
}
main h1 {
  color: #BAEE2E;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}
main h2 {
  color: #BAEE2E;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
main .destacada-home {
  margin-top: 50px;
  justify-content: center !important;
}
main .carrouselContainer {
  width: 50rem !important;
}
main .carru-ancho {
  width: 50%;
}
main .link-carru {
  color: #FF22A9;
  text-align: center;
  margin: 30px;
  text-decoration: none;
  font-size: 80%;
}

/* shop html*/
main {
  color: #BAEE2E;
  font-size: 1.5rem;
}
main .tienda img {
  width: 300px;
  padding: 10px;
}
main .tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin-top: 50px;
  padding: 10px;
}
main .shop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 10px;
}
main .shop a {
  color: #FF22A9;
}

.miCuenta {
  color: #FF22A9;
  text-align: start;
  align-content: flex-start;
  display: flex;
}
.miCuenta .cuenta {
  margin: 50px 50px 50px 50px;
}
.miCuenta ul {
  list-style-type: none;
}
.miCuenta ul li a {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  color: #FF22A9;
}

/* info html */
.info-html {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row-reverse;
}
.info-html h3 {
  text-decoration: underline;
}
.info-html .Nosotros {
  color: #FF22A9;
  font-size: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  font-style: italic;
}
.info-html .Nosotros p {
  font-size: 1.5rem;
}
.info-html .pago-envio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.info-html ol {
  color: #FF22A9;
  font-size: 1.4rem;
  list-style-type: none;
}
.info-html main ul {
  list-style-type: none;
  color: #FF22A9;
  font-size: 2rem;
}
.info-html main li a {
  color: #FF22A9;
  font-size: 1.5rem;
  list-style-type: none;
}

/* contacto html*/
main {
  color: #BAEE2E;
  font-size: 1.7rem;
}
main .contactoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
}
main .infoContacto {
  color: #FF22A9;
}
main iframe {
  height: 100%;
}
main .formularioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  min-height: 400px;
}
main .formInputsContainer {
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
}
main .formInputsText {
  font-size: medium;
}
main label {
  color: #FF22A9;
  font-size: 1.2rem;
}
main form p {
  color: #FF22A9;
  font-size: 1.2rem;
}

.construccion h2 {
  padding: 70px;
  color: #FF22A9;
  font-size: 3rem;
  --animate-duration: 3s;
  --animate-delay: 9s;
}
.construccion .proximamente {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 70px;
}
.construccion .glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}
.construccion .glitch:before,
.construccion .glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.construccion .glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}
.construccion .glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

/* -----------------------FOOTER-------------- */
footer {
  background-image: url(../multimedia/FONDO\ NEGRO\ copia.png);
  background-size: cover;
  background-position: 100%;
  color: #BAEE2E;
}
footer .logos {
  width: 20px;
  margin: 2px;
}
footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .navfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer img {
  width: 50px;
}
footer h3 {
  font-size: 1.5rem;
}
footer p {
  font-size: 1.2rem;
}
footer .copyright p {
  color: #1D8A7E;
  font-size: 1rem;
  text-align: center;
  margin: 30px;
}
footer li {
  list-style-type: none;
  font-size: 1.6rem;
}
footer .navfooter2 {
  text-align: right;
}
footer .navfooter a {
  font-size: 1.6rem;
  color: #FF22A9;
}
footer .navfooter2 a {
  font-size: 1.6rem;
  color: #FF22A9;
}

/*# sourceMappingURL=estilos.css.map */
