/* PALETA
lima BAEE2E - verde oscuro 1D8A7E - gris claro E4E4E4
casi negro 232323 - fucsia FF22A9*/

html{
    font-size: 62.5%;
}
body{
    background-color:black;
    font-family: 'glimer';
}
@font-face {
    font-family: 'glimer';
    src: url(../multimedia/Gilmer-Font/Gilmer\ Regular.otf);
}

/* -----------------------HEADER-------------- */
/* Fondo + logo tipografia -banner */
header{
    background-image: url(../multimedia/FONDO\ NEGRO\ copia.png);
    background-color: black;
    background-position: 100%;
    
    /* colocar aca el position sticky top 0 */
    position: sticky;
    top: 0px;  
    z-index: 10;
}
 header img{
    width: 250px;
 }
 .logoPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
 }
/* Menu nav */
.menuTitulo a{
    text-decoration: none;
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: 20px;
    text-decoration: none;
    font-size: 2rem;
    color: #BAEE2E;
    list-style-type: none;
}

/* -----------------------MAIN-------------- */
h1{
    color: #BAEE2E;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: #BAEE2E;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px; 
}

/* index html */
.destacada-home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.img-home{
    display: flex;
    flex-direction: column;
    
}
main{
    color: #BAEE2E;
    font-size: 1.5rem;
}
  main img{
    width: 500px;
 }
 /* shop html*/
.tienda img{
    width: 300px;
 }
 .tienda{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin: 50px 50px;
 }
 .shop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .shop A{
    color: #FF22A9;
 }
 /* contacto html*/
 .contacto-main{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 50px 50px;
 }
    .infoContacto {
        color: #FF22A9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
    }
    
    
    iframe{
        height: 50%;
      
    }
    label{
        color: #FF22A9;
        font-size: 1.2rem;
        display: flex;
        justify-content: start;
        align-items: center;        
    }
    form p{
        color: #FF22A9;
        font-size: 1.2rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50;
    }
    .boton{
        display: flex;
    }
    /* info html */
    .info-html{
        display: flex;
        
        justify-content: space-around;
        align-items: center;
    }
    .Nosotros{
            color: #FF22A9;
            font-size: 2rem;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 20px;
            font-style: italic;  
            width: 30%;          
        }
        .Nosotros p{
            font-size: 1.5rem;
        }
    
    .pago-envio{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
        ol{
            color: #FF22A9;
            font-size: 1.5rem;
            list-style-type: none;
        }
    main ul{
        list-style-type: none;
        color: #FF22A9;
        font-size: 2rem;
    }
    main li a{
        color: #FF22A9;
        font-size: 2rem;
    }
    

    
 /* -----------------------FOOTER-------------- */
 footer{
    background-image: url(../multimedia/FONDO\ NEGRO\ copia.png);
    background-size: cover;
 }
 .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
 }
 .navfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 footer{
    color: #BAEE2E;
 }
 footer img{
    width: 50px;
    
 }
 footer h3{
    font-size: 1.5rem;
 }
 p{
    font-size: 1.2rem;
 }
 
 .copyright p{
    color: #1D8A7E;
    font-size: 1rem;
    text-align: center;
    margin: 30px ;
 }

 footer li{
    list-style-type: none;
    font-size: 1.6rem;
 }

 .navfooter2{
    text-align: right;
 }
 .navfooter a{
    font-size: 1.6rem;
    color: #FF22A9;
    
 }
 .navfooter2 a{
    font-size: 1.6rem;
    color: #FF22A9;
    
 }
