/* contacto html*/
main {
    color: $lima;
    font-size: 1.7rem;

    .contactoContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 50px;
    }

    .infoContacto {
        color: $fucsia;
    }
    iframe {
        height: 100%;
    }

    .formularioContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        min-height: 400px
    }

    .formInputsContainer {
        display: flex;
        width: 80%;
        margin-bottom: 1rem;
    }

    .formInputsText {
        font-size: medium;
    }

    

    label {
        color: $fucsia;
        font-size: 1.2rem;
    }

    form p {
        color: $fucsia;
        font-size: 1.2rem;
    }

}