body {
    background-color: black;
    font-family: 'glimer'; 
}
main {
    color: $lima;
    font-size: 1.5rem;
    h1 {
        color: $lima;
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
    }
    
    h2 {
        color: $lima;
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }   
    /* index html */
    .destacada-home {
    margin-top: 50px;
    justify-content: center !important;
    }
    .carrouselContainer {
    width: 50rem !important;
    }
    /*dejo estos dos important debido a que no pude solucionar el problema del carrousel de BS y cuando los saco se me desacomoda y agrandan las imagenes al ir pasandolas en el correusel*/
    .carru-ancho {
    width: 50%;
    }
    .link-carru {
    color: $fucsia;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    font-size: 80%;
    } 
}