/* info html */
.info-html {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row-reverse;

    h1{
        margin-top: 10px;
    }

    h2 {
        text-decoration: underline;
        color: $fucsia;
        font-size: 2rem;
        text-align: start;

    }

    .nosotros {
        color: $fucsia;
        font-size: 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 20px;
        font-style: italic;
        margin-bottom: 20px;

    }

    .nosotros p {
        font-size: 1.5rem;
    }

    .pago-envio {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    ol {
        color: $fucsia;
        font-size: 1.4rem;
        list-style-type: none;
    }

    main ul {
        list-style-type: none;
        color: $fucsia;
        font-size: 2rem;
    }

    main li a {
        color: $fucsia;
        font-size: 1.5rem;
        list-style-type: none;
    }
}