    /* shop html*/
    .tiendaTitulo {
        padding: 0px;
        margin: 0px;

        h1 {
            color: $fucsia;
            text-align: center;
        }

        h2 {
            color: $lima;
            font-size: 2rem;
            text-align: initial;

        }


        .tienda img {
            width: 300px;
            padding: 10px;
        }

        .tienda {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .shop {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            margin-bottom: 20px;
        }

        .shop a {
            color: $fucsia;
        }
    }