    /* shop html*/
    main {
        color: $lima;
        font-size: 1.5rem;

        .tienda img {
            width: 300px;
            padding: 10px;
        }

        .tienda {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: start;
            margin-top: 50px;
            padding: 10px;
        }

        .shop {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px 10px 10px 10px;
            gap: 10px;
        }

        .shop a {
            color: $fucsia;
        }
    }